.toplevel_page_sapphire-site-manager {
	#wpcontent {
		padding-left: 0 !important;
		z-index: 9;
		position: relative;
	}

	#wpfooter {
		display: none;
	}

	#wpbody-content {
		padding-bottom: 0;
	}
}
